<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">To Do App</h1>

        <form class="ui form" action="/add" method="post">
            {% csrf_token %}
            <div class="field">
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="Enter Todo..."><br>
                <label>Todo Description</label>
                <input type="text" name="description" placeholder="Enter desc..."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="ui segment {% if todo.complete %}green{% else %}grey{% endif %}">
            <h1 class="ui center aligned header {% if todo.complete %}green{% else %}black{% endif %}">Task № {{todo.id }}</h1>
            <p class="ui big header"><strong>Name: </strong> {{ todo.title }}</p>
            <p class="ui big header"><strong>Description: </strong>{{ todo.description }}</p>
        
            {% if todo.complete %}
            <span class="ui green label">ㅤCompletedㅤ</span>
            {% else %}
            <span class="ui grey label">Not Complete</span>
            {% endif %}
        
            <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
            <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
            <button class="ui green button" onclick="toggleEditForm('{{ todo.id }}')">Edit</button>
            <form id="edit-form-{{ todo.id }}" class="ui form" action="{% url 'edit' todo_id=todo.id %}" method="post" style="display: none; margin-top: 10px;">
                {% csrf_token %}
            
                <div class="field">
                    <label>New Title</label>
                    <input type="text" name="title" value="{{ todo.title }}" required><br>
                </div>
                <div class="field">
                    <label>New Description</label>
                    <input type="text" name="description" value="{{ todo.description }}" required><br>
                </div>
                <button class="ui green button" type="submit">Save</button>
            </form>
        </div>
        
        {% endfor %}
    </div>
    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>