<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    {% if messages %}
    <div class="ui message">
        {% for message in messages %}
            <div class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    </div> 
    {% endif %}
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">To Do App</h1>

        <form class="ui form" action="/add" method="post">
            {% csrf_token %}
            <div class="field">
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="Enter Todo..."><br>
            </div>
            <div class="field_description">
                <label>Descriptrion</label>
                <input type="text" name="description" placeholder="Enter Description..."><br>
            </div>
            <div class="deadline_days">
                <label>Days before the deadline</label>
                <input type="text" name="deadline_days" placeholder="Enter deadline days..."><br>
            </div>
            <div style="display: flex; gap: 10px; margin-top: 20px;">
                <button class="ui blue button" type="submit">Add</button>
            
                <div class="ui dropdown">
                    <button class="ui teal button">Sort By</button>
                    <div class="menu">
                        <a class="item" href="?sort=created_at_asc{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">Date (Ascending)</a>
                        <a class="item" href="?sort=created_at_desc{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">Date (Descending)</a>
                        <a class="item" href="?sort=completed_first{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">Completed First</a>
                        <a class="item" href="?sort=incomplete_first{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">Incomplete First</a>
                        <a class="item" href="?sort=deadline_asc{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">Deadline Date (Ascending)</a>
                        <a class="item" href="?sort=deadline_desc{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}">Deadline Date (Descending)</a>
                    </div>
                </div>
                
                <div class="ui dropdown">
                    <button class="ui purple button">Filter By</button>
                    <div class="menu">
                        <a class="item" href="?filter=all{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">All Tasks</a>
                        <a class="item" href="?filter=completed{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">Completed Tasks</a>
                        <a class="item" href="?filter=incomplete{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">Incomplete Tasks</a>
                    </div>
                </div>
                
            </div>
        </form>

        <hr>

        {% for todo in todo_list %}
        <div class="ui segment {% if todo.complete %}green{% else %}grey{% endif %}">
            <h1 class="ui center aligned header {% if todo.complete %}green{% else %}grey{% endif %}">
                Task № {{todo.id }}
                <span style="font-size: 0.6em; display: block; float: right; color: black">
                    Creation date:<br>
                    {{ todo.formatted_date }}<br><br>
                    Deadline:<br>
                    {{ todo.formatted_deadline }}
                </span>
            </h1>
            <p class="ui big header"><strong>Name: </strong> {{ todo.title|linebreaksbr }}</p>
            <p class="ui big header"><strong>Description: </strong>{{ todo.description|linebreaksbr }}</p>
        
            {% if todo.complete %}
            <span class="ui green label">ㅤCompletedㅤ</span>
            {% else %}
            <span class="ui grey label">Not Complete</span>
            {% endif %}
        
            <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
            <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
            <button class="ui green button" onclick="toggleEditForm('{{ todo.id }}')">Edit</button>
            <form id="edit-form-{{ todo.id }}" class="ui form" action="{% url 'edit' todo_id=todo.id %}" method="post" style="display: none; margin-top: 10px;">
                {% csrf_token %}
            
                <div class="field">
                    <label>New Title</label>
                    <input type="text" name="title" value="{{ todo.title }}" required><br>
                </div>
                <div class="field">
                    <label>New Description</label>
                    <input type="text" name="description" value="{{ todo.description }}" required><br>
                </div>
                <button class="ui green button" type="submit">Save</button>
            </form>
        </div>
        
        {% endfor %}
    </div>
    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>

</html>